pandas
numpy
scipy

matplotlib
seaborn
plotly

scikit-learn

openpyxl
xlrd

tqdm

jupyter
notebook

pyarrow
fastparquet

prophet
statsmodels

torch
pytorch-lightning
pytorch-forecasting

tensorboard
streamlit
fastapi
